@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

*{box-sizing: border-box; font-family: 'Nanum Gothic', sans-serif;}
html, body{margin: 0; padding: 0;}
h1, h2, h3, h4, h5, h6, p{margin: 0;}
ul, ol{margin: 0; padding: 0; list-style: none;}
a{text-decoration: none;}



/***header***/
header{}
header #top{
    height: 40px;
    background-color: #363636;
}
header #top .wrap{
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #474747;
}
header #top .wrap .left{}
header #top .wrap .left p{font-size: 14px; color:#ccc;}

header #top .wrap .right{}
header #top .wrap .right ul{display: flex;}
header #top .wrap .right ul li{}
header #top .wrap .right ul li a{
    display: block;
    line-height: 1;
    font-size: 14px;
    color:#ccc;
    padding: 0 6px 0 5px;
    position: relative;
}
header #top .wrap .right ul li:hover a{color:#fff;}
header #top .wrap .right ul li a:after{
    content:"";
    position: absolute;
    width: 1px;
    height: 10px;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background-color: #777;
}
header #top .wrap .right ul li:nth-child(2) a:after{background-color: #aaa;}

header #top .wrap .right ul li:last-child a{padding-right: 0;}
header #top .wrap .right ul li:last-child a:after{display: none;}

header #main{
    height: 80px;
    background-color: #eee;
    position: relative;
}
header #main .wrap{
    width: 1200px; height: 100%;
    margin: 0 auto;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
}
header #main .wrap .logo{
    height: 100%; 
    display: flex; 
    align-items: center;
}
header #main .wrap .logo a{}
header #main .wrap .logo a img{display: block; height: 56px;}

header #main .wrap nav{}
header #main .wrap nav > ul{display: flex;}
header #main .wrap nav > ul > li{margin: 0 15px;}
header #main .wrap nav > ul > li:last-child{margin-right: 0;}
header #main .wrap nav > ul > li > a{
    display: block; 
    line-height: 80px; 
    font-size: 20px;
    color:#363636; 
    font-weight: bold;
    position: relative;
}
header #main .wrap nav > ul > li:hover > a{color:#004ea1;}
header #main .wrap nav > ul > li > a:after{
    content:"";
    position: absolute;
    width: 0%;
    height: 4px;
    bottom: 0;
    left: 0;
    background-color: #004ea1;
    transition: width 0.5s linear;
}
header #main .wrap nav > ul > li:hover > a:after{
    width: 100%;
}

header #main .wrap nav > ul > li > .subWrap{
    position: absolute;
    width: 100%;
    height: 40px;
    background-color: rgba(255,255,255,0.75);
    left: 0;
    max-height: 0;
    overflow: hidden;
}
header #main .wrap nav > ul > li:hover > .subWrap{
    max-height: 40px;
}


header #main .wrap nav > ul > li:nth-child(2) ~ li > .subWrap > ul{
    justify-content: flex-end;
}

header #main .wrap nav > ul > li > .subWrap > ul{
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    padding: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: pink;}
    
header #main .wrap nav > ul > li:hover > .subWrap {
    max-height: 40px;
    transition: max-height 0.5s;
}
header #main .wrap nav > ul > li > .subWrap > ul > li{padding: 0 20px;}
header #main .wrap nav > ul > li > .subWrap > ul > li > a{
    display: block;
    color: #777;font-size: 14px;
}
header #main .wrap nav > ul > li > .subWrap > ul > li:hover > a{
    color: #004ea1;
}

/*main banner*/
main{height: 280px;
    background-size: cover;
    background-position: center;
    animation: 20s changeBanner infinite;
}


/*시간배분시 유지되는 시간 대비 변경시간 : 
    40%(1번 이미지 유지)
    10%(1번에서->2번이미지 변경되는 시간)
    40%(2번 이미지 유지)
    10%(2번 -> 1번 이미지 변경되는 시간) */
@keyframes changeBanner {
    0%{background-image: url(./img/main-01.jpg);}
    20%{background-image: url(./img/main-01.jpg);}
    30%{background-image: url(./img/main-02.jpg);}
    70%{background-image: url(./img/main-02.jpg);}
    80%{background-image: url(./img/main-01.jpg);}
    100%{background-image: url(./img/main-01.jpg);}
}
main .hideBg{display: none;}

main .wrap{width: 1200px; height: 100%;
    margin: 0 auto; display: flex;
    justify-content: flex-end;
    padding-bottom: 30px;
    align-items: flex-end;
}
main .wrap h1{font-size: 48px; color: #fff;
    text-shadow: 0 0 4px rgba(0,0,0,0.5);
    word-break: keep-all;
    width: calc(100% / 12 * 5 - 20px);
}

#linkImg{background-color: #d3dce5; padding: 20px 0;}
#linkImg .wrap{width: 1200px; margin: 0 auto;}
#linkImg .wrap ul{display: flex; justify-content: space-around;}
#linkImg .wrap ul li {}
#linkImg .wrap ul li a{}
#linkImg .wrap ul li a img{display: block; width: 80px;}

#main2{width: 100%; height: 620px; background-color: #eee;}
#main2 .wrap {
    width: 1200px;
    margin: 0 auto;
    padding: 20px 10px; display: flex;
    background-color: pink;
}
#main2 .wrap .cont {
    margin-left: -10px;
    margin-right: -10px;}

#main2 .wrap .cont .box1 {display: flex;}
#main2 .wrap .cont .box2 {display: flex;}
#main2 .wrap .cont .box {
    width: 280px; height: 280px; background-color: #004ea1;
    margin: 0 10px; padding: 20px; position: relative;
    
}
#main2 .wrap .cont .img_box { margin: 0 10px;}
#main2 .wrap .cont .box:nth-child(2){
    background-color: #03d365;
}


#main2 .wrap .cont .box p {font-weight: bold;font-size: 36px; color: white; line-height: 35px;}
#main2 .wrap .cont .box span {display: block;font-size: 18px; color: white;padding-top: 30px;}
#main2 .wrap .cont .box .btn_part {position: absolute; bottom: 20px; display: flex;}
#main2 .wrap .cont .box .btn_part button{background-color:transparent; border: none;
    color: white; font-size: 16px;width: 120px; height: 40px; border: 1px solid white;
}
#main2 .wrap .cont .img_box {
    width: 580px;
    height: 280px;
    padding: 20px;
    background-size: cover;
    background-position: center;
    position: relative;
}

#main2 .wrap .cont .img_box p {
    font-size: 36px;
    font-weight: bold;line-height: 35px;
}
#main2 .wrap .cont .img_box span {
    width: 380px;
    font-size: 24px;
    padding-top: 54px;
    display: block;
}

#main2 .wrap .cont .img_box .input_part {
    width: 360px;
    height: 40px;
    background-color: #fff;
    display: flex;
    position: absolute;
    bottom: 20px;
    border: 1px solid #004ea1;
}
#main2 .wrap .cont .img_box .input_part input{
   width: 240px;
}
#main2 .wrap .cont .img_box .input_part button{
    width: 120px;
    border: none;
    background-color: #004ea1;
    color: white;font-size: 16px;
}

#main2 .wrap .cont .box2 {display: flex;margin-top: 24px;}
#main2 .wrap .cont .box2 .img_part {
    width: 580px;
    height: 280px;
    background-color: #fff;
    display: flex;
    padding: 20px; position: relative;
    margin-left: 10px;
    margin: 0 10px;
}
#main2 .wrap .cont .box2 .img_part .txt_part{padding: 0 20px;}
#main2 .wrap .cont .box2 .img_part p {
    display: block; padding-bottom: 45px;
    font-size: 36px;  font-weight: bold;
}
#main2 .wrap .cont .box2 .img_part span{font-size: 14px;}
#main2 .wrap .cont .box2 .img_part button {position: absolute;
    width: 160px; height: 40px; border: 1px solid #004ea1;
    color: #004ea1; font-size: 16px; font-weight: bold;
     bottom: 20px; right:20px;}

#main2 .wrap .cont:nth-child(1) .img_box{background-image: url(img/cont-001.jpg);}

#fullbgc{background-image: url(img/health-care.jpg);
    background-position: center; background-size: cover;
width: 100%; height: 464px;position: relative;}
#fullbgc .warp{
    
}
#fullbgc .abso{
    width: 1200px;
    position:absolute; right: 150px; top: 164px;
    display: flex; flex-direction: column; align-items: center;
}
#fullbgc p {font-size: 36px; width: 300px;font-weight: bold;text-align: center;
}
#fullbgc img {width: 180px;padding-top: 44px;}

#bottom{width: 100%; height: 55px; background-color: #eee;}
#bottom .warp .cont .title_part { text-align: center;}
#bottom .warp .cont .title_part p {font-size: 36px; padding: 20px 0; font-weight: bold;}
#bottom .warp .cont .title_part span{font-size: 20px; padding-bottom: 20px;display: block;}

#bottom .warp{width: 1200px; margin: 0 auto; padding: 0 10px;}
#bottom .warp .cont{ padding: 20px 0; margin-right: -10px; margin-left: -10px;  }
#bottom .warp .cont .box_prat{display: flex; }
#bottom .warp .cont .box{
    background-size: cover;
    background-position: center; padding: 20px;
    text-align: center;
    width: 280px; height: 378px; background-color: #fff;margin: 0 10px;}


#bottom .warp .cont .box p {padding-top: 40px;;color: white;font-size: 24px;font-weight: bold;}
#bottom .warp .cont .box .line {width: 80px; height: 4px; background-color: #fff; margin: 20px auto;}
#bottom .warp .cont .box span {color: white; font-size: 18px;display: block;}
#bottom .warp .cont .box span {color: white; font-size: 18px;display: block;}
#bottom .warp .cont .box button{width: 120px; height: 40px; border: 1px solid #fff;
background-color:transparent; color: white;font-size: 18px;}

#bottom .warp .cont .box .btn{
    margin-top: 20px;
}
#bottom .warp .cont .box:nth-child(1){
    background-image: url(img/cont-002.jpg);
}
#bottom .warp .cont .box:nth-child(2){
    background-image: url(img/cont-003.jpg);
}
#bottom .warp .cont .box:nth-child(3){
    background-image: url(img/cont-004.jpg);
}
#bottom .warp .cont .box:nth-child(4){
    background-image: url(img/cont-005.jpg);
}

/*#cont1*/
#cont1{background-color: #edefed;}
#cont1 .wrap{
    width: 1200px; 
    margin: 0 auto; 
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
}
#cont1 .wrap .box{
    width: calc(25% - 20px); height: 280px; 
    margin: 0 10px 20px;
    background-color: #004ea1;
    padding: 20px;
    position: relative;
}
#cont1 .wrap .box:nth-child(2), #cont1 .wrap .box:nth-child(6){background-color: #03d365;} 

#cont1 .wrap .box:nth-child(3){width: calc(50% - 20px); background-image: url(../img/cont-001.jpg); background-size: cover; background-position: 50% 50%;}
#cont1 .wrap .box:nth-child(4){width: calc(50% - 20px); background-color: #fff;}


#cont1 .wrap .box h3{font-size: 36px; color:#fff; padding-bottom: 30px;}
#cont1 .wrap .box:nth-child(3) h3, #cont1 .wrap .box:nth-child(4) h3{color:#363636;}

#cont1 .wrap .box h4{font-size: 24px; color:#363636; font-weight: normal;}
#cont1 .wrap .box p{font-size: 18px; color:#fff; word-break: keep-all;}

#cont1 .wrap .box .b_btn{
    position: absolute; 
    bottom: 20px; left: 20px;
    width: calc(100% - 40px); 
    border:2px solid #fff;
    border-right: none;
    display: flex;
}
#cont1 .wrap .box .b_btn li{width: 50%; border-right: 2px solid #fff;}
#cont1 .wrap .box .b_btn li a{display: block; line-height: 36px; color:#fff; text-align: center;font-size: 16px;}

#cont1 .wrap .box .b_btn li:hover a{background-color: rgba(255,255,255,0.3);}

#cont1 .wrap .box .search{
    position: absolute; 
    width: 300px; height: 40px; 
    left: 20px; bottom: 20px; 
    border: 2px solid #004ea1;
}
#cont1 .wrap .box .search form{
    width: 100%; height: 100%; display: flex;
}
#cont1 .wrap .box .search form input{width: calc(100% - 120px); height: 100%; border:none; padding: 0 10px; font-size: 16px;}
#cont1 .wrap .box .search form button{
    width: 120px; height: 100%; 
    background-color: #004ea1; 
    color:#fff; 
    border: none;
}
